[Unit]
Description=Telepathy mission control daemon
After=dbus.socket dbus-env.service
Requires=dbus.socket

[Service]
ExecStart=/usr/lib/telepathy/mission-control-5
Type=dbus
BusName=org.freedesktop.Telepathy.AccountManager

[Install]
WantedBy=graphical-session.target
